# Assignment 1 :

__We are working as a quant researcher in the Stock Market, based on a certain strategy we have
received following trades in historical data(Tradelog on the historical data is attached in the csv
format) and we have to calculate the following parameters using Python to identify whether to
execute the strategy or not.__


__Note:__  For the parameters calculation consider the initial portfolio value of Rs 6500 and the
risk-free interest rate of 5%.


__Parameters required__


1. Total Trades
2. Profitable Trades
3. Loss-Making Trades
4. Win rate: Win Rate is the ratio of profitable trades to all trades
5. Average Profit per trade
6. Average Loss per trade
7. Risk Reward ratio: Risk Reward Ratio is the ratio of average profit to average loss.
8. Expectancy : (Win Rate x Average Profit) - (Loss Rate x Average Loss), where Loss
Rate = 1 - (Win Rate)
9. Average ROR per trade: The ratio is the average return earned in excess of the risk-free
rate per unit of volatility or total risk. Volatility is a measure of the price fluctuations of an
asset or portfolio.
10. Sharpe Ratio:
Sharpe Ratio = (Rate of Return - Risk-Free Rate) / (Standard deviation of the asset or
portfolio)
11. Max Drawdown: A maximum drawdown is the maximum observed loss from the peak of
the portfolio in the given duration.
12. Max Drawdown Percentage
13. CAGR
The CAGR formula is equal to (Ending Value/Beginning Value) ^ (1/No. of Periods) – 1.
14. Calmar Ratio: Measures the performance of a strategy or fund, compared to its risk

In [2]:
import pandas as pd
import numpy as np

In [3]:
df  = pd.read_csv('tradelog.csv')
df

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
0,1,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00
1,2,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75
2,3,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00
3,4,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55
4,5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15
...,...,...,...,...,...,...
244,245,BANKNIFTY31DEC2031300PE,29-12-2020 09:29,216.65,29-12-2020 13:10,274.60
245,246,BANKNIFTY31DEC2031200CE,30-12-2020 09:29,248.25,30-12-2020 10:24,283.90
246,247,BANKNIFTY31DEC2031200PE,30-12-2020 09:29,221.70,30-12-2020 10:24,240.10
247,248,BANKNIFTY31DEC2031300CE,31-12-2020 09:29,161.80,31-12-2020 10:37,173.85
248,249,BANKNIFTY31DEC2031300PE,31-12-2020 09:29,105.05,31-12-2020 10:37,124.00

__Data Cleaning__

In [4]:
# Checking for null values
df.isnull().sum()

Unnamed: 0     0
Ticker         0
Entry Time     0
Entry Price    0
Exit Time      0
Exit Price     0
dtype: int64

In [5]:
# Checking for duplicate rows
df.duplicated().sum()

0

__Data Preparation:__

In [6]:
# Initial portfolio value and risk-free interest rate
initial_portfolio_value = 6500
risk_free_rate = 0.05

In [7]:
# Calculating the profit or loss for each trade
df['Profit/Loss'] = (df['Exit Price'] - df['Entry Price']) * 100
df

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Profit/Loss
0,1,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00,13750.0
1,2,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75,425.0
2,3,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00,3645.0
3,4,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55,14245.0
4,5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15,-15205.0
...,...,...,...,...,...,...,...
244,245,BANKNIFTY31DEC2031300PE,29-12-2020 09:29,216.65,29-12-2020 13:10,274.60,5795.0
245,246,BANKNIFTY31DEC2031200CE,30-12-2020 09:29,248.25,30-12-2020 10:24,283.90,3565.0
246,247,BANKNIFTY31DEC2031200PE,30-12-2020 09:29,221.70,30-12-2020 10:24,240.10,1840.0
247,248,BANKNIFTY31DEC2031300CE,31-12-2020 09:29,161.80,31-12-2020 10:37,173.85,1205.0
248,249,BANKNIFTY31DEC2031300PE,31-12-2020 09:29,105.05,31-12-2020 10:37,124.00,1895.0

__Parameter Calculation:__

# 1. Total Trades:

In [8]:
total_trades = len(df)
print("Total Trades : " ,total_trades)

Total Trades :  249

# 2. Profitable Trades

In [9]:
profitable_trades = len(df[df['Profit/Loss'] > 0])
print("Profitable Trades : " , profitable_trades)

Profitable Trades :  153

# 3. Loss-Making Trades

In [10]:
loss_making_trades = len(df[df['Profit/Loss'] < 0])
print("Loss Making Trades : " , profitable_trades)

Loss Making Trades :  153

# 4. Win rate: 
__Win Rate is the ratio of profitable trades to all trades__

In [32]:
if (total_trades > 0):
    win_rate = profitable_trades / total_trades
else:
    0
print("Win Rate : " , win_rate)

Win Rate :  0.6144578313253012

# 5. Average Profit per trade

In [34]:
# Checking if there are profitable trades
if (profitable_trades > 0):
    avg_profit_per_trade = df[df['Profit/Loss'] > 0]['Profit/Loss'].mean()  
else:
    0
print("Average Profit Per Trade : " , avg_profit_per_trade)

Average Profit Per Trade :  7609.5424836601305

# 6. Average Loss per trade

In [40]:
# Checking if there are loss-making trades
if (loss_making_trades > 0):
    avg_loss_per_trade = df[df['Profit/Loss'] < 0]['Profit/Loss'].mean()  
else :
    0
print("Average Loss Per Trade : " , avg_loss_per_trade)

Average Loss Per Trade :  -10554.375

# 7. Risk Reward ratio: 
__Risk Reward Ratio is the ratio of average profit to average loss__

In [42]:
# Checking if average loss per trade is not zero to avoid division by zero
if (avg_loss_per_trade != 0):
    risk_reward_ratio = abs(avg_profit_per_trade / avg_loss_per_trade)  
else:
    # set risk-reward ratio to positive infinity
    np.inf
print("Risk Reward Ratio : " , risk_reward_ratio)

Risk Reward Ratio :  0.720984661210174

# 8. Expectancy : 
__(Win Rate x Average Profit) - (Loss Rate x Average Loss), where Loss Rate = 1 - (Win Rate)__

In [27]:
loss_rate = 1 - win_rate
expectancy = (win_rate * avg_profit_per_trade) - (loss_rate * avg_loss_per_trade)
print("Expectancy : " , expectancy)

Expectancy :  8744.899598393575

# 9. Average ROR per trade: 
__The ratio is the average return earned in excess of the risk-freerate per unit of volatility or total risk. Volatility is a measure of the price fluctuations of an asset or portfolio__

In [31]:
# Calculate standard deviation of Profit/Loss
std_profit_loss = np.std(df['Profit/Loss'])

# Checking if standard deviation is not zero
if (std_profit_loss != 0):
    avg_ROR_per_trade = (expectancy /std_profit_loss )
else:
    0
    
print("Average ROR Per Trade : " , avg_ROR_per_trade)

Average ROR Per Trade :  0.7750097981750751

# 10. Sharpe Ratio:

__Sharpe Ratio = (Rate of Return - Risk-Free Rate) / (Standard deviation of the asset or portfolio)__

In [45]:
sharpe_ratio = (avg_ROR_per_trade - risk_free_rate) / np.std(df['Profit/Loss'])
print("Sharpe Ratio : " , sharpe_ratio)

Sharpe Ratio :  6.425341892568271e-05

# 11. Max Drawdown: 
__A maximum drawdown is the maximum observed loss from the peak of the portfolio in the given duration__

In [51]:
# Calculate maximum drawdown : (cumulative profit loss - cumulative_max).min()
max_drawdown = (df['Profit/Loss'].cumsum() - df['Profit/Loss'].cumsum().cummax()).min()
print("Max Drawdown : " , max_drawdown)

Max Drawdown :  -55205.0

# 12. Max Drawdown Percentage

In [52]:
max_drawdown_percentage = (max_drawdown / initial_portfolio_value) * 100
print("Max Drawdown Percentage : " , max_drawdown_percentage)

Max Drawdown Percentage :  -849.3076923076924

# 13. CAGR :
__The CAGR formula is equal to (Ending Value/Beginning Value) ^ (1/No. of Periods) – 1 __

In [53]:
#calculating Ending Value
Ending_Value  = df['Profit/Loss'].cumsum().iloc[-1]
# calculating No. of periods assuming 252 trading days in a year
no_of_periods  = total_trades / 252

cagr = (Ending_Value / initial_portfolio_value) ** (1 / no_of_periods) - 1
print("CAGR : " , cagr)

CAGR :  23.134516550346046

# 14. Calmar Ratio:
__Measures the performance of a strategy or fund, compared to its risk__

In [56]:
# Checking if the maximum drawdown percentage is not zero
if (max_drawdown_percentage != 0):
    calmar_ratio = (cagr / abs(max_drawdown_percentage / 100))
else:
    np.inf
print("Calmar Ratio : " , calmar_ratio)

Calmar Ratio :  2.7239264120505258

# storing the result

In [58]:
# Store results in a DataFrame
results = pd.DataFrame({
    'Total Trades': [total_trades],
    'Profitable Trades': [profitable_trades],
    'Loss-Making Trades': [loss_making_trades],
    'Win Rate': [win_rate],
    'Average Profit per Trade': [avg_profit_per_trade],
    'Average Loss per Trade': [avg_loss_per_trade],
    'Risk Reward Ratio': [risk_reward_ratio],
    'Expectancy': [expectancy],
    'Average ROR per Trade': [avg_ROR_per_trade],
    'Sharpe Ratio': [sharpe_ratio],
    'Max Drawdown': [max_drawdown],
    'Max Drawdown Percentage': [max_drawdown_percentage],
    'CAGR': [cagr],
    'Calmar Ratio': [calmar_ratio]
})

In [59]:
results

,Total Trades,Profitable Trades,Loss-Making Trades,Win Rate,Average Profit per Trade,Average Loss per Trade,Risk Reward Ratio,Expectancy,Average ROR per Trade,Sharpe Ratio,Max Drawdown,Max Drawdown Percentage,CAGR,Calmar Ratio
0,249,153,96,0.614458,7609.542484,-10554.375,0.720985,8744.899598,0.77501,0.000064,-55205.0,-849.307692,23.134517,2.723926

In [60]:
# Save results to CSV
results.to_csv('trading_results.csv', index=False)